<p>
    The L&W Digital Asset Registry exists to support research in CSIRO L&W by enabling discovery of existing assets,
    integrate with other relevant information and data systems, and facilitate conversations about improved
    digital asset management to aid the broader research process (see below).
</p>
<p>
    <img src="/images/digital-asset-lifecycle2.png" style="width: 44%; margin: 0px auto; display: block; float: right;" alt="Digital Asset Lifecycle Diagram" />
</p>

<p>
    Digital Assets (DAs) are defined as: "Self-contained digital objects that are of value to an individual or an organisation, such as datasets, software (which may include implementations of numerical models), web sites, web services and other digital platforms."

    Asset classes included within the definition of digital assets (and under the purview of the DAMC) are:
    <ul>
        <li>Data - data sets created as part of L&W projects, as well as data sourced from others. Metadata (data about data) is included within the definition of a data set</li>
        <li>Codebases - software code (including numerical and other models represented in code) created by L&W</li>
        <li>Deployed digital systems, services and platforms</li>
    </ul>

    Digital documents (e.g. reports or papers in PDF, .doc or other digital formats) are considered to be out of scope as they are governed through other processes (e.g. ePublish). DAMC will encourage the referencing of digital assets within publications.
    Similarly, physical infrastructure (hardware) and third party software packages are not within the scope of the registry.
</p>
